/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #76d5f4;
  --secondary-color: white;
  --third-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: var(--branding-color);
}
h1,
h2 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 45px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
}
ul {
  font-family: var(--default-font-family);
  color: white;
  list-style: none;
  text-align: center;
  font-size: 24px;
}
.about h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  text-align: center;
  max-width: 100px;
}
.navbar-brand {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: Bold;
}
.container-about {
  font-weight: normal;
  margin: 0;
  color: #272142;
  text-align: center;
  padding: 160px 20px;
}

.primary-link1 {
  color: var(--secondary-color);
  font-family: --default-font-family;
  font-weight: bold;
  font-size: 18 px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer;
  margin-top: 180px;
}
.primary-link2 {
  color: var(--secondary-color);
  font-family: --default-font-family;
  font-weight: bold;
  font-size: 18 px;
  margin-top: 180px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.btn-branding {
  background: pink;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-align: center;
}
.a {
  color: white;
}
