/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #fcbdc9;
  --secondary-color: white;
  --third-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: var(--branding-color);
}

.container {
  display: flex;
  flex-direction: row;
}
.about h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  text-align: center;
  max-width: 100px;
}

.container-about {
  font-weight: normal;
  margin: 0;
  color: #272142;
  padding: 160px 20px;
}

.btn-branding {
  background: pink;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.carousel {
  margin: 0px;
}

.fa-chevron-right,
.fa-chevron-left {
  color: black;
  font-size: 25px;
}
.page-section {
  position: relative;
  margin-top: 150px;
}

.bg-light {
  background-color: #f8f9fa !important;
  display: flex;
  margin-top: 200px;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}
.d-block {
  display: block !important;
}

@media (min-width: 576px) {
  .carousel {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}
