/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

body {
  background-color: #fcbdc9;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: Bold;
  font-family: "Poppins", serif;
}
.primary-link1 {
  color: white;
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 18 px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20px;
}
.primary-link2 {
  color: white;
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 18 px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.splide__slide img {
  width: 100%;
  height: auto;
  direction: "ttb";
}
